<div class="plugin-item">
    <div class="plugin-title">Plugin Name</div>
    <div class="plugin-description">
        This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin.
        This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin.
        This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin.
        This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin.
        This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin. This is a plugin.
    </div>
    <div class="plugin-ins-version-label">Version:</div>
    <select class="plugin-version">
        <option value="">Select a version</option>
        <option>0.1.0</option>
        <option>0.1.1</option>
        <option>0.2.0</option>
    </select>
    <button class="plugin-install">Install</button>
    <div class="plugin-cur-version-label">Current version: ----</div>
</div>

@code {

}
