<div id="subapp" class="hide-side-panel">
    <NavBar>
    </NavBar>
    <div id="main-view" class="column-span2">
        <PluginItem/>
        <PluginItem/>
        <PluginItem/>
    </div>
    <Footer>
    </Footer>
</div>

@code {

}
